.card-article{
    display: flex;
    flex-direction: column;
    position: relative;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
    height: 80PX;
    word-wrap: break-word;
   
    

}
.card-article p {
    padding: 10px;
    font-family: "font-1";
    
}

.card-article h3{
    font-size: 1.1rem;
    font-family: "font-1";
}

.card-article em {
   font-size: 0.9rem;
   position: absolute;
   right: 5px;
   bottom: 2px;
   
   
}

@media (max-width: 877px) {
    .card-article{
        height: 110px;
    }
}

