.carteMenuHome{
  padding: 100px;
}
.cartemenu{
    padding: 100px;
    background-color: var(--color-2);
    display: flex;
    flex-direction: column;
    gap: 150px;
 }
 
 .card {
 width: 300px;
 list-style: none;
 
 }
 .card img{
  width: 300px;
  height: 200px;
 }
 
 .card h3{
     padding: 10px;
     text-align: center;
     font-size: 1rem;
 }
 
 .carte{
     display: flex;
     flex-wrap: wrap;
     width: 75%;
     margin: auto;
     justify-content: space-between;
     gap: 15px;
 }
 
 @media (max-width: 877px) {
  
  .carteMenuHome{
    padding-left: 30px;
    padding-right: 30px;
  }
  .carte{
    display: block;
    width: 100%;
   
  }
  
  .card{
    width: 100%;
    margin-top: 20px;
  }
 
  .card img{
    width: 100%;

  }

 }