.contact{
    background-color: var(--color-2);
    padding: 50px;

}
.information{
    display: flex;
    flex-direction: column;
     gap: 100px;
    text-align: center;
    font-family: "font-1";
}

.information p{
    width: 400px;
    margin: auto;
    padding: 20px;
    font-size: 1.4rem;
    
}
.information h2{
    font-size: 1.8rem;
}

.adressContact ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding-top: 15px;
    font-family: "font-1";
    font-size: 1.4rem;
}
.adressContact li {
 list-style: none;
}

/*formulaire et carte maps */
.formMaps{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 50vh;
}