.footerPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100%;
    background-color: black;
    padding: 20PX;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 250px ;
    width: 100%;
    color: white;

}

.adressOpening ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}
.adressOpening p{
    width: 80%;
    font-family: "font-1"
}

.adressOpening h2 {
    padding-bottom: 10px;
    font-family: "font-1";
}
.adressOpening li{
    list-style: none;
    font-family: "font-1";
}



.newsletter h2 , .newsletter p{
    padding-bottom: 10px;
    font-family: "font-1";
}
form{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
input[type="submit"]{
    width: 100px;
}

input[type="email"]{
 width: 200px;
 border: 0 1px solid ; 
}

.imgLogo{
    width: 80px;
    height: 80px;
    border-radius: 10px;
  
}
.imgLogod{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 877px) {

  .footerPage{
    display: flex;
    gap: 100PX;
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;
    height: 100vh;
  }
  .footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;

  }

  .adressOpening p{
   width: 90%;
   margin: auto;
   
  }
        
}

.socialNetwork{
    display: flex;
    justify-content: center;
    
    
    gap: 100px;
    width: 400px;
    height: 50px;
}

.socialNetwork li{
    list-style: none;
    font-size: 3rem;
    color: aliceblue;
}

@media screen and (max-width: 950px) {
    .socialNetwork{
        display: flex;
        font-size: 2rem;
        justify-content: center;
        width: 100%;
       
    }

    .newsletter{
        display: none;
    }
}

@media screen and (max-width: 950px) {
    .socialNetwork{
        width: 380PX;
        gap: 30px;
    }
}