.footerPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100%;
    background-color: black;
    padding: 20PX;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 250px ;
    width: 100%;
    color: white;

}

.adressOpening ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

.adressOpening h2 {
    padding-bottom: 10px;
    font-family: "font-1";
}
.adressOpening li{
    list-style: none;
    font-family: "font-1";
}



.newsletter h2 , .newsletter p{
    padding-bottom: 10px;
    font-family: "font-1";
}
form{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
input[type="submit"]{
    width: 100px;
}

input[type="email"]{
 width: 200px;
 border: 0 1px solid ; 
}

.imgLogo{
    width: 80px;
    height: 80px;
    border-radius: 10px;
  
}
.imgLogod{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 950px) {

  .footerPage{
    display: flex;
    gap: 100PX;
    width: 100%;
    height: 100VH;
   
  }
  .footer{
    display: block;
    text-align: center;
    
  }
        
}