.navigation {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    height: 60PX;
    align-items: center;
    font-size: 1.4rem;
    font-family: "font-1";
    
}

.menu-responsive{
    display: none;
}
.menu-responsive .navbar{
   display: block;
}

.navigation.open{
    display: flex;
    flex-direction: column;
    height: 200px;
    padding-top: 0;
    align-items: center;
}

.menu-toggle{
    display: none;
    height: 30px;
    width: 40px;
    justify-content: space-between;
    position: absolute;
    left: 10PX;
    top: 10PX;
    
}

.menu-toggle.open .menuBar{
 background-color:var(--color-1) ;
}
.menuBar{
    height: 5px;
    width: 40px;
    background-color: white;
    z-index: 5;
}

.reservation{
    padding: 8px;
    border-radius: 10px;
    color:'black';
    background-color: var(--color-1);
    font-size: 1.2rem;
    border: none;
}

.navigation a.active li{
    color: var(--color-1);
}

.navigation a.active .reservation{
    color: black;
}


@media (max-width: 877px) {
    
    .menu-non-responsive{
        display: none;
    }

    .menu-responsive {
        display: block;
        position: fixed;
        width: 100%;
        z-index: 5;
    }

    .menu-toggle{
        display: flex;
        flex-direction: column;

    }

    .navigation{
        display: none;
    }

    .reservation{
        
        background-color: white;
        font-family: "font-1" ;
        padding: 0;
        border-radius: 0;
        font-size: 1.4rem;
    }
    
    .navigation a.active .reservation{
        color: var(--color-1);
    }
    
  }