.navbar{
    display: grid;
    grid-template-columns: 30% 1fr;
    
    height: 90px;
    background-color: white;
    justify-content: center;
    align-items: center;
}
.epicurianLogo{
    width: 80px;
    height: 90%;
    border-radius: 15px;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    
}



.navigation li {
    list-style: none; 
    color: black; 
}
.navigation li:hover{
    color: var(--color-1);
}
.navigation a {
    text-decoration: none;

}



.navigation .reservation:hover{
 color: black;
}

.navigation {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    height: 60PX;
    align-items: center;
    font-size: 1.4rem;
    font-family: "font-1";
    
    
}






.menu-toggle{
    display: none;
    height: 30px;
    width: 40px;
    justify-content: space-between;
    position: fixed;
    left: 10PX;
    top: 10PX;
    
}

.menu-toggle.open .menuBar{
 background-color:var(--color-1) ;
}
.menuBar{
    height: 5px;
    width: 40px;
    background-color: var(--color-1);
    z-index: 5;
}

.reservation{
    padding: 8px;
    border-radius: 10px;
    color:'black';
    background-color: var(--color-1);
    font-size: 1.2rem;
    border: none;
}

.navigation a.active li{
    color: var(--color-1);
}

.navigation a.active .reservation{
    color: black;
}


@media (max-width: 877px) {
    

    .menu-toggle{
        display: flex;
        position: fixed;
        flex-direction: column;
        position: absolute;

    }

    .navigation{
        display: flex;
        flex-direction: column;
        height: 100%;
        
        background-color: white;
    }

    .reservation{
        
        background-color: white;
        font-family: "font-1" ;
        padding: 0;
        border-radius: 0;
        font-size: 1.4rem;
    }
    
    .navigation a.active .reservation{
        color: var(--color-1);
    }
    
    .navbar{
        display: block;
        opacity: 1;
       
        
        height: 200px;
        width: 100%;
        padding: 0%;
        z-index: 3;
    }

    .navbar_logo{
        display: none;
    }
   
    .navigation.open{
        display: none;
    }

    .navigation.open{
        display: flex;
        flex-direction: column;
        height: 200px;
        padding-top: 0;
        align-items: center;
        background-color: white;
        
    }
    .navbar.open{
        display: none;
    }    

    .logo{
        display: none;
    }
  }