.reservationSection{
    height: 100vh;
}

.bookingReservation{
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
    
}


.bookingReservation h2{
  color: var(--color-1);
  font-family: "font-1";
}

.formBooking{
    padding-top: 50px;
    border: 2px solid #F2F2F2;
    padding: 50px;
    height: 50vh;
    width: 40%;
    display: grid;
     grid-template-columns: 1fr  ;
   
}

.formBooking input, .formBooking select{
    width: 100%;
    font-size: 1.2rem;
    
    border: none;
    border-bottom: 1px solid black;
    
}

.date-time{
    display: grid;
    grid-template-columns: 1fr 1fr;  
    height: 40px;
    gap: 20px;
}

.reserverSubmit{
 background-color: var(--color-1);
 transition: 0.7s;
 padding: 5px;
 font-family: "font-1";
 
}

.reserverSubmit:hover{
cursor: pointer;
color: white;
}


@media (max-width: 877px) {
    .formBooking{
        width: 70%;
    }
}

