.header_{
    background: center/cover;
    height: 100vh;
    
}
.navbar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
}
.navbar_logo{
    padding: 30px;
}

.navigation {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    
    height: 60PX;
    align-items: center;
    font-size: 1.2rem;
    
}

.navigation li {
    list-style: none; 
    color: black; 
}
.navigation li:hover{
    color: #DB9423;
}
.navigation a {
    text-decoration: none;

}


.reservation{
    padding: 8px;
    border-radius: 10px;
    color:'black';
    background-color: #DB9423;
    font-size: 1.2rem;
    border: none;
}
.navigation .reservation:hover{
 color: black;
}





.titleHeader{
    width: 40%;
    margin: auto;
    padding-top: 15%;
}

.titleHeader h1{
    font-size: 5rem;
    color: #DB9423;
    text-align: center;
    
}
.titleHeader h3, .titleHeader p{
    text-align: center;
    font-size: 1.4rem;
    color: aliceblue;
}
.titleHeader p{
    margin-top: 30px;
}

.headerHome{
    position: relative;
    height: 100vh;
}

.buttonHeader{
    display: flex;
    gap: 10PX;
    
    width: 300PX;
    position: relative;
    margin: auto;
    bottom: 15%;
    
}
.buttonHeader button{
    background-color: rgba(0, 0, 0, 0);
    padding: 10PX;
    border-radius: 10PX;
    width: 120PX;
    font-size: 1.1rem;
    border: 2px solid #DB9423;
    color: white;
}


.buttonHeader button:hover{
    cursor: pointer;
    background-color: #DB9423;
    transition: 0.7s;
}
.presentation{
    height: 800px;
    background-color: #F2F2F2;
    
}


