.socialNetwork{
    display: flex;
    justify-content: center;
    
    
    gap: 100px;
    width: 400px;
    height: 50px;
}

.socialNetwork li{
    list-style: none;
    font-size: 3rem;
    color: aliceblue;
}

@media screen and (max-width: 950px) {
    .socialNetwork{
        display: flex;
        font-size: 2rem;
        justify-content: center;
        width: 100%;
       
    }

    .newsletter{
        display: none;
    }
}

@media screen and (max-width: 950px) {
    .socialNetwork{
        width: 380PX;
        gap: 30px;
    }
}
